@model NovoUsuariomodel

<div class="panel-footer add-item-form">

    <p>
        Novo Usário<br />
    </p>

    <input asp-for="Nome" class="form-control" id="Nome" />
    <span asp-validation-for="Nome" class="text-danger" />
    <button class="btn btn-default" type="button" id="Salvar">
        <i class="fa fa-save" style"color:Red"></i> Salvar
    </button>
    <span id="msg" style="color:red;" />
    
</div>