@model NovoUsuariomodel

<div class="panel-footer add-item-form">

    <p>
        Adicionar Novo Usário<br />
    </p>
    
    <input asp-for="Nome" class="form-control" id="Nome"/>
    <span asp-validation-for="Nome" class="text-danger" />
    <input class="btn btn-default" type="button" value="Salvar" id="Salvar" />
    <span id="msg" style="color:red;" />

</div>